version: '3'

services:
  nginx:
    image: nginx
    volumes:
      - .:/usr/src/reminiscence
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - web

  web:
    build: .
    entrypoint: "./entrypoint.sh"
    env_file:
      - ./docker.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:11
    env_file:
      - ./docker.env
    # instead of using the env_file above for providing db-user-credentials 
    # you also could use the following insecure setting (not recommended)  
    # may come handy if you're experiencing db-connection problems after upgrade.
    #environment:
    #  - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./db:/var/lib/postgresql/data/
