aiohttp==3.9.1
aiosignal==1.3.1
amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.2.0
bs4==0.0.1
celery==5.3.6
chardet==5.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cssselect==1.2.0
Django==4.2.8
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
frozenlist==1.4.1
gunicorn==21.2.0
idna==3.6
joblib==1.3.2
kombu==5.3.4
lxml==4.9.4
multidict==6.0.4
nltk==3.8.1
packaging==23.2
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
python-dateutil==2.8.2
pytz==2023.3.post1
readability-lxml==0.8.1
redis==5.0.1
regex==2023.12.25
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.12
yarl==1.9.4
