{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-10 col-sm-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success btn-block">Change password</button>
      </form>
  </div>
</div>
{% endblock %}
